/*Created with Adobe RoboHelp.*/
body {
  font-family: Calibri;
  font-size: 14px;
  counter-reset: h1\.h1 0;
}
h1 {
  font-weight: bold;
  font-size: 32px;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-weight: bold;
  font-size: 19px;
}
h4 {
  font-weight: bold;
  font-size: 16px;
}
h5 {
  font-weight: bold;
  font-size: 13px;
}
h6 {
  font-weight: bold;
  font-size: 11px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
/* Styling microcontents' intents for faq pages */
.faq-dropspot {
  /* Add !important flag after an attribute to give precedence over a.dropspot. For example color:#FF0000 !important; */
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
div.faq-droptext {}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a {}
a.minitoc-list-item {}
div.breadcrumbs {}
span.breadcrumbs-home-prefix {}
a.breadcrumbs-home {}
.breadcrumbs-separator {}
a.breadcrumbs-link {}
a.breadcrumbs-topic {}
p.seealso-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
ul.Disc {
  list-style-type: disc;
}
ul.Circle {
  list-style-type: circle;
}
figure {
  margin-left: 0 px;
}
h1.h:active:checked:empty::before::after:disabled {}
h1.h {
  --autonumber: autonumber;
  margin-left: calc(var(--list-indent) + var(--prefix-size) + var(--prefix-gap));
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
  --prefix-size: 24px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --vertical-spacing: 0px;
  --list-indent: 0px;
  counter-reset: h2\.h1 0;
  position: relative;
}
h1.h:before {
  counter-increment: h1\.h1;
  content: counter(h1\.h1, none);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}